{% extends "crm/base_crm.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} - Update Contact
{% endblock %}


{% block content %}
  <h2>Update Contact <small>{{ contact }}</small></h2>
  <div class="row">
    <div class="col-md-7">
      <form action="{{ contact.get_update_url }}" method="post" class="form-horizontal">
        {% csrf_token %}
        {% crispy form %}
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <a href="{{ contact.get_absolute_url }}" role="button" class="btn btn-default">Cancel</a>
            <input class="btn btn-primary" type="submit" value="Update Contact">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}