{% extends "crm/base_crm.html" %}

{% block title %}
{{ block.super }} - Delete Contact
{% endblock %}

{% block content %}
  <div>
    <div>
      <form action="{{ contact.get_delete_url }}" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete contact
          {{ contact.first_name }} {{ contact.last_name }}?</p>
        <a href="{{ contact.get_absolute_url }}">Cancel</a>
        <button type="submit">Delete Contact</button>
      </form>
    </div>
  </div>
{% endblock %}
