{% extends "crm/base_crm.html" %}

{% block title %}
  {{ block.super }} - {{ job.title }}
{% endblock %}

{% block content %}
  <article>
    <div class="row">
      <div class="col-md-8">
        <ol class="breadcrumb">
          <li><a href="{% url 'crm_job_list' %}">Jobs</a></li>
          <li><a href="{{ job.company.get_absolute_url }}">{{ job.company.name }}</a></li>
          <li class="active">{{ job.title }}</li>
        </ol>
        <h2>{{ job.title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <section>
          <p>{{ job.description }}</p>
        </section>
        <section>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Actions
                  {% if request.user.is_superuser %}

                  <span class="small"><a href="{{ job.get_job_action_create_url }}">Add Action</a></span>
                  {% endif %}

                </h3>
              </div>
              <div class="panel-body">
                {% for job_action in job.job_actions.all %}
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h4>
                        {{ job_action.action|title }}
                        <span class="small">{{ job_action.timestamp|date }} by {{ job_action.created_by.get_full_name|title }}</span>
                      </h4>
                      {{ job_action.description }}
                    </div>
                  </div>
                {% empty %}
                  <ul>
                    <li>
                      No actions taken
                    </li>
                  </ul>
                {% endfor %}
              </div>
            </div>
        </section>
      </div>
      <div class="col-md-4">
        <section>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                Details
                {% if request.user.is_superuser %}

                <span class="small"><a href="{{ job.get_update_url }}">Edit</a></span>
                {% endif %}

              </h3>
            </div>
            <div class="panel-body">
              <table>
                <tr>
                  <td>Company:</td>
                  <td><a href="{{ job.company.get_absolute_url }}">{{ job.company }}</a></td>
                </tr>
                <tr>
                  <td>Assigned to:</td>
                  <td>{{ job.assigned_to.get_full_name|title }}</td>
                </tr>
                <tr>
                  <td>Date Added:</td>
                  <td>{{ job.timestamp|date:"F jS, Y" }}</td>
                </tr>
                <tr>
                <tr>
                  <td>Job Type:</td>
                  <td>{{ job.job_type|title }}</td>
                </tr>
                  <td>Hiring Skills:</td>
                  <td>{% for skill in job.skills.all %}
                        <a href="{{ skill.get_absolute_url }}">
                          {{ skill.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
                      {% endfor %}
                  </td>
                </tr>
                <tr>
                  <td>Vacancies:</td>
                  <td>{{ job.num_vacancies }}</td>
                </tr>
                <tr>
                  <td>Salary:</td>
                  <td>{{ job.salary }}</td>
                </tr>
                {% if company.fee %}
                  <tr>
                    <td>Fee:</td>
                    <td>{{ company.fee }}</td>
                  </tr>
                {% endif %}
                <tr>
                  <td>Country:</td>
                  <td>{{ job.city.country }}</td>
                </tr>
                <tr>
                  <td>City:</td>
                  <td>{{ job.city }}</td>
                </tr>
                {% if job.zip_code %}
                  <tr>
                    <td>Zip Code:</td>
                    <td>{{ job.zip_code }}</td>
                  </tr>
                {% endif %}
                {% if job.nubelo_id %}
                  <tr>
                    <td>Nubelo ID:</td>
                    <td>{{ job.nubelo_id }}</td>
                  </tr>
                {% endif %}
                {% if job.nubelo_url %}
                  <tr>
                    <td>Nubelo URL:</td>
                    <td><a href="{{ job.nubelo_url }}">Link</a></td>
                  </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </section>
        <section>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                Contacts
                {% if request.user.is_superuser %}

                <span class="small"><a href="{{ job.company.get_contact_create_url }}">Add Contact</a></span>
                {% endif %}

              </h3>
            </div>
            <div class="panel-body">
              {% for contact in job.company.contacts.all %}
                <div class="panel panel-default">
                    <div class="panel-body">
                <h4>
                  {{ contact.get_full_name|title }}
                  {% if contact.is_primary_contact %}*{% endif %}
                  <span class="small"><span class="small"><a href="{{ contact.get_absolute_url }}">Details</a></span></span>
                </h4>
                <table>
                  {% if contact.title %}
                    <tr>
                      <td>Title:</td>
                      <td>{{ contact.title }}</td>
                    </tr>
                  {% endif %}
                  {% if contact.email %}
                    <tr>
                      <td>Email:</td>
                      <td>{{ contact.email }}</td>
                    </tr>
                  {% endif %}
                  {% if contact.phone %}
                    <tr>
                      <td>Phone:</td>
                      <td>{{ contact.phone }}</td>
                    </tr>
                  {% endif %}
                  {% if contact.mobile %}
                    <tr>
                      <td>Mobile:</td>
                      <td>{{ contact.mobile }}</td>
                    </tr>
                  {% endif %}
                  {% if contact.country %}
                    <tr>
                      <td>Country:</td>
                      <td>{{ contact.country|title }}</td>
                    </tr>
                  {% endif %}
                  {% if contact.country %}
                    <tr>
                      <td>City:</td>
                      <td>{{ contact.city }}</td>
                    </tr>
                  {% endif %}
                  {% if contact.address %}
                    <tr>
                      <td>Address:</td>
                      <td>{{ contact.address }}</td>
                    </tr>
                  {% endif %}
                  {% if contact.zip_code %}
                    <tr>
                      <td>Zip Code:</td>
                      <td>{{ contact.zip_code }}</td>
                    </tr>
                  {% endif %}
                </table>
                </div>
                </div>
              {% empty %}
                <ul>
                  <li>
                    No contacts available
                  </li>
                </ul>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
    </div>
  </article>
{% endblock %}
