{% extends "crm/base_crm.html" %}

{% block title %}
  {{ block.super }} - Skills
{% endblock %}

{% block crm_content %}
  <h2>Skills</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="list-group">
        {% for skill in skill_list %}
          <a href="{{ skill.get_absolute_url }}" class="list-group-item">
            {% if skill.jobs.count %}
              <span class="badge">Jobs: {{ skill.jobs.count }}</span>
            {% endif %}
            <strong>{{ skill.name }}</strong>
          </a>
        {% empty %}
          <p>There are no skills to display. Start by adding one.</p>
        {% endfor %}
      </div>
    </div>
    {% if request.user.is_superuser %}

    <div class="col-md-4">
      <a role="button" class="btn btn-primary" href="{% url 'crm_skill_create' %}">Add Skill</a>
    </div>
    {% endif %}

  </div>
{% endblock %}
