<div class="row">
  <div class="col-md-7">
    <form action="{% url 'dj-auth:login' %}" method="post" class="form-horizontal">
      {% csrf_token %}
      {{ form.as_p }}
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
      {% endif %}
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
          <input class="btn btn-primary" type="submit" value="{{ login_button|default:'Login' }}">
        </div>
      </div>
    </form>
  </div>
</div>
