{% extends 'user/base_user.html' %}

{% block title %}
  {{ block.super }} - Reset Password
{% endblock %}


{% block content %}
  <div class="row">
    {% if validlink %}
      <p>Enter a new password below.</p>
      <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Save New Password">
      </form>
    {% else %}
      <p>This reset link is no longer valid. Please request a new one <a href="{% url 'dj-auth:pw_reset_start' %}">here</a>.</p>
    {% endif %}
  </div>
{% endblock %}